*{
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 80px;
  background-color: silver;
}
 header h2 {
   color: red;
   float: right;
   margin-right: 10px;
   display: block;
   margin-top: 20px;
   cursor: pointer;

 }

header #compte {
  background-color: green;
  width: 150px;
  display: none;
  position: absolute;
  right: 0px;
  top: 80px;
  text-align: justify;

}

header #compte ul {
  color: blue;
  font-size: 1.8em;
  list-style: none;

}

header #compte li {
  background-color: grey;
  padding-left: 20px;
}



header #compte ul {
  color: blue;
  font-size: 1.8em;
  list-style: none;

}

header #compte li {
  background-color: grey;
  padding-left: 20px;

}
nav {
  width: 200px;
  height: 647px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;

}
.navigation {

  height: 100%;
  background-color: grey;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  transition: 0.5s;

}
.closebtn{
  position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
nav ul {
  text-align: center;

}


nav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
nav img {
  width: 200px;
  height: 100px;
}
nav .icones  {
  background-color: yellow;
  display: flex;
  width: 100%;
}

nav .icones .fa-2x{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.partieUn {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.partieUn h1 {
}

.partieUn #pop {
  visibility: hidden;
    /* visibility: visible; */
  background-color: green;
  color: black;
  border-radius: 5%;
  box-sizing: border-box;

  /* position: absolute;
  z-index: 1;
  left: 50%;
  top: 20%; */
}


.show {
  box-sizing: border-box;

  visibility: visible;
  /* visibility: hidden; */
  background-color: yellow;
  color: red;
  width: 100px;
  height: 100px;
}
