* {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 50px;
  background-color: silver;
  transition: top 0.3s;
}
header h2 {
  color: red;
  float: right;
  margin-right: 10px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

header #compte {
  background-color: green;
  width: 150px;
  display: none;
  position: absolute;
  right: 0px;
  top: 80px;
  text-align: justify;
}

header #compte ul {
  color: blue;
  font-size: 1.8em;
  list-style: none;
}

header #compte li {
  background-color: grey;
  padding-left: 20px;
}

header #compte ul {
  color: blue;
  font-size: 1.8em;
  list-style: none;
}

header #compte li {
  background-color: grey;
  padding-left: 20px;
}
nav {
  /*   width: 0;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;*/
  /*   display: block; */
}
.navigation {
  /*   height: 100%;
  background-color: grey;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  transition: 0.5s; */
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  transform: translateX(0, 250px);
  transition: left 300ms ease-in;
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
nav ul {
  /*   text-align: center;
  display: block; */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  /* display: block; */
  transition: 0.3s;
  transform: translateX(0, 250px);
}

nav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
nav img {
  width: 200px;
  height: 100px;
}
nav .icones {
  background-color: yellow;
  display: flex;
  width: 100%;
  transform: translateX(0, 250px);
}

nav .icones .fa-2x {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.partieUn {
  display: block;
  /*   width: 100vw; */
  /*   height: 100vh;
 */
  margin-left: auto;
  margin-right: auto;
  transition: margin-left 0.5s;
  padding: 0;
  margin-top: 50px;
  width: 80%;
  margin-left: 50px;
  height: 100%;
}

.partieUn #pop {
  visibility: hidden;
  /* visibility: visible; */
  background-color: green;
  color: black;
  border-radius: 5%;
  box-sizing: border-box;
  padding-left: 20%;

  /* position: absolute;
  z-index: 1;
  left: 50%;
  top: 20%; */
}
.partieUn #pop::after {
  content: "";
  padding-left: 40%;
}

.show {
  box-sizing: border-box;

  visibility: visible;
  /* visibility: hidden; */
  background-color: yellow;
  color: red;
  width: 100px;
  height: 100px;
}
.yo {
  width: 200px;
  height: 200px;
  background-color: red;
}

/* #barre-nav {
  position: absolute;
  width: 250px;
  left: -250px;
} */

.open-barre-nav {
  transform: translateX(250px);
  transition: left 300ms ease-in;
}

.close-barre-nav {
  transform: translateX(0px);
}
